.contenedor-footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #487ae9;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.texto-footer {
    margin: 0;
}