.header-container {
    width: 20%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Esto distribuirá los elementos a lo largo del contenedor */
    align-items: center; /* Esto centrará verticalmente los elementos */
    color: white;
    cursor: pointer;
   
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
     user-select: none; 
}

nav ul li {
    display: flex;
    flex-direction: row;
    margin-left: 20px; /* Puedes ajustar el margen según sea necesario */
  
}
