

.contenedor-imagenes img{
    width: 80%;
    padding-top: 20px;
    height: auto;
    display: flex;
    margin: auto;

    
}

img{
    width: 75%;
    margin-left: 10px;
    margin-top: 10%;
}