.usuariosRegistrado {
    max-width: 600px;
    margin: 0 auto;
    height: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
 
}

.usuariosRegistrado form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.usuariosRegistrado input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.usuariosRegistrado button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.usuariosRegistrado button:hover {
    background-color: #0056b3;
}

.usuariosRegistrado ul {
    list-style-type: none;
    padding: 0;
    height: 250px;
    overflow-y: auto;
}

.usuariosRegistrado li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.usuariosRegistrado li button {
    background-color: #dc3545;
    margin-left: 10px;
}

.usuariosRegistrado li button:first-child {
    background-color: #28a745;
}

.usuariosRegistrado li button:hover {
    opacity: 0.9;
}

.usuariosRegistrado p {
    margin: 10px 0;
    font-size: 14px;
}
