
/* App.css */
.contenedor-principal {
    margin-left: 350px; /* Adjust based on your Aside width */
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  

  .nuevoContenedor {
    width: 100vw;
    height: 100vh;
   
  }

/* Add a loading spinner style */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #333;
  }