body {
  padding: 0;
  margin: 0;

  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;

  background: var(--clr-gradient) no-repeat fixed;
  background-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffffff;
  color: #c2c2c2;
  background: url(https://mecaluxes.cdnwm.com/blog/img/almacen-desordenado.1.2.jpg) no-repeat center center/cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */